        body {
            font-family: Arial, sans-serif;
            background-image: url(espaco.jpg);
            background-size: 100%;
            color: #fff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        img{
            border-radius: 2%;
            margin-bottom: -50px;
            width: 420px;
        }

        .card {
            background: rgb(75, 77, 75);
            padding: 30px 50px;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 8px 20px rgba(0,0,0,0.3);
            backdrop-filter: blur(6px);
            width: 420px;
            border: 1px black solid;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 15px;
        }

        p {
            font-size: 1.2em;
            margin: 8px 0;
        }

        #temperatura {
            font-size: 2.5em;
            font-weight: bold;
            margin-top: 5px;
        }

        button {
            margin-top: 15px;
            padding: 12px 25px;
            background: #ffffff;
            border: none;
            border-radius: 12px;
            font-size: 1em;
            cursor: pointer;
            transition: 0.2s;
            font-weight: bold;
            color: #0072ff;
        }

        button:hover {
            background: #dfefff;
            transform: scale(1.05);
        }

        #analiseIA {
            margin-top: 20px;
            font-size: 1.1em;
            padding: 10px;
            background: rgba(255,255,255,0.15);
            border-radius: 10px;
            display: none;
        }